<div class="pessoa-container">
  <form [formGroup]="formularioPessoa">
    <div class="field">
      <label for="">Nome</label>
      <input type="text" formControlName="nome" (change)="onChange('nome')">
    </div>

    <div class="d-flex">
      <div class="flex-1 field">
        <label for="">Tipo Pessoa</label>
        <select formControlName="tipoPessoa" (change)="onChange('tipoPessoa')">
          <option></option>
          <option value="0">Pessoa Física</option>
          <option value="1">Pessoa Jurídica</option>
        </select>
      </div>

      <div class="flex-1 field">
        <label for="">CPF/CNPJ</label>
        <input type="text" formControlName="cpfCnpj" (change)="onChange('cpfCnpj')">
      </div>

      <div class="flex-1 field">
        <label for="">RG</label>
        <input type="text" formControlName="rg" (change)="onChange('rg')">
      </div>

      <div class="field flex-1">
        <label for="">Sexo</label>
        <select formControlName="sexo" (change)="onChange('sexo')">
          <option value=""></option>
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>

    </div>

    <div class="field">
      <label for="">Nome Fantasia</label>
      <input type="text" formControlName="nomeFantasia" (change)="onChange('nomeFantasia')">
    </div>

    <div class="d-flex">
      <div class="field">
        <label for="">Tipo de Contribuinte</label>
        <select formControlName="tipoContribuinte" (change)="onChange('tipoContribuinte')"></select>
      </div>

      <div class="field">
        <label for="">Inscrição Estadual</label>
        <input type="text" formControlName="inscricaoEstadual" (change)="onChange('inscricaoEstadual')">
      </div>
    </div>

    <div class="d-flex">

      <div class="field flex-1">
        <label for="">Data Nascimento</label>
        <input type="text" formControlName="dataNascimento" (change)="onChange('dataNascimento')">
      </div>

      <div class="field flex-1">
        <label for="numeroCNH">CNH</label>
        <input type="text" formControlName="numeroCNH" id="numeroCNH" (change)="onChange('numeroCNH')">
      </div>

      <div class="field flex-1">
        <label for="">Estado Civil</label>
        <select formControlName="estadoCivil" (change)="onChange('estadoCivil')"></select>
      </div>

      <div class="field flex-1">
        <label for="">Grau Instrução</label>
        <input type="text" formControlName="grauInstrucao" (change)="onChange('grauInstrucao')">
      </div>
    </div>

    <div class="field flex-1">
      <label for="">Profissão</label>
      <input type="text" formControlName="profissao" (change)="onChange('profissao')">
    </div>

    <div class="field flex-1">
      <label for="">Naturalidade</label>
      <input type="text" formControlName="naturalidade" (change)="onChange('naturalidade')">
    </div>

    <div class="field-group d-flex flex-wrap">
      <label for="">Fones</label>
      <div class="field flex-1">
        <input type="text" formControlName="telefone1" (change)="onChange('telefone1')">
      </div>
      <div class="field flex-1">
        <input type="text" formControlName="telefone2" (change)="onChange('telefone2')">
      </div>
      <div class="field flex-1">
        <input type="text" formControlName="telefone3" (change)="onChange('telefone3')">
      </div>
      <div class="field flex-1">
        <input type="text" formControlName="telefone4" (change)="onChange('telefone4')">
      </div>
    </div>

    <div class="field">
      <label for="">E-mail</label>
      <input type="text" formControlName="email" (change)="onChange('email')">
    </div>

  </form>
</div>