<div class="pessoa-container">
  <form>
    <div class="field">
      <label for="">Nome</label>
      <input type="text">
    </div>

    <div class="d-flex">
      <div class="flex-1 field">
        <label for="">Tipo Pessoa</label>
        <select>
          <option></option>
          <option>Pessoa Física</option>
          <option>Pessoa Jurídica</option>
        </select>
      </div>

      <div class="flex-1 field">
        <label for="">CPF/CNPJ</label>
        <input type="text">
      </div>

      <div class="flex-1 field">
        <label for="">RG</label>
        <input type="text">
      </div>

      <div class="field flex-1">
        <label for="">Sexo</label>
        <select>
          <option value=""></option>
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>

    </div>

    <div class="field">
      <label for="">Nome Fantasia</label>
      <input type="text">
    </div>

    <div class="d-flex">
      <div class="field">
        <label for="">Tipo de Contribuinte</label>
        <select></select>
      </div>

      <div class="field">
        <label for="">Inscrição Estadual</label>
        <input type="text">
      </div>
    </div>

    <div class="d-flex">

      <div class="field flex-1">
        <label for="">Data Nascimento</label>
        <input type="text">
      </div>

      <div class="field flex-1">
        <label for="">CNH</label>
        <input type="text">
      </div>

      <div class="field flex-1">
        <label for="">Estado Civil</label>
        <select></select>
      </div>

      <div class="field flex-1">
        <label for="">Grau Instrução</label>
        <input type="text">
      </div>
    </div>

    <div class="field flex-1">
      <label for="">Profissão</label>
      <input type="text">
    </div>

    <div class="field flex-1">
      <label for="">Naturalidade</label>
      <input type="text">
    </div>

    <div class="field-group d-flex flex-wrap">
      <label for="">Fones</label>
      <div class="field flex-1">
          <input type="text">
      </div>
      <div class="field flex-1">
          <input type="text">
      </div>
      <div class="field flex-1">
          <input type="text">
      </div>
      <div class="field flex-1">
        <input type="text">
      </div>
    </div>

    <div class="field">
      <label for="">E-mail</label>
      <input type="text">
    </div>

  </form>
</div>