<div>
  <form>
    <div>
      <label for="">Nome</label>
      <input type="text">
    </div>

    <div>
      <label for="">Tipo Pessoa</label>
      <select></select>
    </div>

    <div>
      <label for="">CPF/CNPJ</label>
      <input type="text">
    </div>

    <div>
      <label for="">RG</label>
      <input type="text">
    </div>

    <div>
      <label for="">Sexo</label>
      <select></select>
    </div>

    <div>
      <label for="">Nome Fantasia</label>
      <input type="text">
    </div>

    <div>
      <label for="">Tipo de Contribuinte</label>
      <select></select>
    </div>

    <div>
      <label for="">Inscrição Estadual</label>
      <input type="text">
    </div>

    <div>
      <label for="">Data Nascimento</label>
      <input type="text">
    </div>

    <div>
        <label for="">CNH</label>
        <input type="text">
      </div>

    <div>
        <label for="">Estado Civil</label>
        <select></select>
      </div>

    <div>
        <label for="">Grau Instrução</label>
        <input type="text">
      </div>

    <div>
        <label for="">Profissão</label>
        <input type="text">
      </div>

      <div>
        <label for="">Naturalidade</label>
        <input type="text">
      </div>

      <div>
        <label for="">Fones</label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
      </div>

      <div>
        <label for="">E-mail</label>
        <input type="text">
      </div>

  </form>
</div>