<div>
  <form action="">
    <fieldset>
        <div class="d-flex field-group">
          <div class="field flex-1">
            <label for="logradouro">Logradouro</label>
            <input type="text" [(ngModel)]="endereco.logradouro" name="logradouro" id="logradouro">
          </div>
    
          <div class="field">
            <label for="numero">Nº</label>
            <input type="text" [(ngModel)]="endereco.numero" name="numero" id="numero">
          </div>
        </div>

      <div class="field">
        <label for="complemento">Complemento</label>
        <input type="text" [(ngModel)]="endereco.complemento" name="complemento" id="complemento">
      </div>

      <div class="field">
        <label for="referencia">Referência</label>
        <input type="text" [(ngModel)]="endereco.referencia" name="referencia" id="referencia">
      </div>

      <div class="field-group d-flex">
        <div class="field">
          <label for="cep">CEP</label>
          <input type="text"  [(ngModel)]="endereco.cep" name="cep" id="cep">
        </div>
  
        <div class="field flex-1">
          <label for="bairro">Bairro</label>
          <input type="text" [(ngModel)]="endereco.bairro" name="bairro" id="bairro">
        </div>
      </div>

      <div class="field">
          <label for="cidade">Cidade</label>
          <input type="text" [(ngModel)]="endereco.cidade" name="cidade" id="cidade">
        </div>
    </fieldset>
  </form>
</div>