<div>
  <form action="">
    <fieldset>
      <div>
        <label for="">Logradouro</label>
        <input type="text">
      </div>

      <div>
        <label for="">Nº</label>
        <input type="text">
      </div>

      <div>
        <label for="">Complemento</label>
        <input type="text">
      </div>

      <div>
        <label for="">Referência</label>
        <input type="text">
      </div>

      <div>
        <label for="">CEP</label>
        <input type="text">
      </div>

      <div>
        <label for="">Bairro</label>
        <input type="text">
      </div>

      <div>
          <label for="">Cidade</label>
          <input type="text">
        </div>
    </fieldset>
  </form>
</div>