<div>
  <form action="">
    <fieldset>
        <div class="d-flex field-group">
          <div class="field flex-1">
            <label for="">Logradouro</label>
            <input type="text">
          </div>
    
          <div class="field">
            <label for="">Nº</label>
            <input type="text">
          </div>
        </div>

      <div class="field">
        <label for="">Complemento</label>
        <input type="text">
      </div>

      <div class="field">
        <label for="">Referência</label>
        <input type="text">
      </div>

      <div class="field-group d-flex">
        <div class="field">
          <label for="">CEP</label>
          <input type="text">
        </div>
  
        <div class="field flex-1">
          <label for="">Bairro</label>
          <input type="text">
        </div>
      </div>

      <div class="field">
          <label for="">Cidade</label>
          <input type="text">
        </div>
    </fieldset>
  </form>
</div>