<section class="d-flex">
  <div class="d-flex flex-column">
    <button class="btn btn-secondary" (click)="open()" >(F10)Inserir</button>
    <button class="btn btn-secondary">(F11)Alterar</button>
    <button class="btn btn-secondary">(F12)Excluir</button>
  </div>
  <div class="table-responsive pl-5">
    <table class="table">
      <thead>
        <tr>
          <th>Logradouro</th>
          <th>Nº</th>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Cidade</th>
        </tr>
      </thead>
    </table>
  </div>
</section>